<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
    content="ie=edge">

    <title>PayPal Node</title>
</head>
<body>
    <h1>PluralSight</h1>
    <h2>Year MemberShip $20 monthly</h1>
    <form action="/pay" method="post">
    <input type="submit" value="Purchase">
    </form>

</body>

</html>